*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #2e2e2e; }

* {
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif; }

.h1 {
  font-size: 3rem;
  color: #fff; }

.h2 {
  font-size: 1.5rem;
  color: #fff; }

.paragraph {
  font-size: 1.3rem;
  color: #fff; }

.center {
  margin: 0 auto;
  text-align: center; }

.mt-big {
  margin-top: 8rem; }

.mt-medium {
  margin-top: 6rem; }

.mt-small {
  margin-top: 2rem; }

.mb-big {
  margin-bottom: 3rem; }

.mb-medium {
  margin-bottom: 2rem; }

.mb-small {
  margin-bottom: 1rem; }

.btn {
  padding: 1rem 3rem;
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: #fff; }

.number-box {
  font-size: 4rem;
  background-color: #fff;
  padding: 3rem;
  width: 15rem; }

.input {
  padding: 0.5rem;
  border: 3px solid #fff;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: transparent;
  width: 200px;
  color: #fff; }

@media (max-width: 500px) {
  .input {
    width: 100%;
    font-size: 3rem; } }

.container {
  padding: 1rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 450px) {
  .header {
    flex-direction: column; } }

.main {
  margin: 2rem 0;
  height: 100%; }

.columns {
  display: flex;
  margin: 2rem auto;
  max-width: 600px;
  justify-content: space-around; }
  .columns-1 {
    display: flex;
    flex-direction: column;
    margin-right: 1rem; }
  .columns-2 {
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 1.8; }

@media (max-width: 450px) {
  .columns {
    flex-direction: column; }
    .columns-2 {
      text-align: center; }
      .columns-2 > p:first-child() {
        margin-top: 1rem; } }

.number-container {
  position: relative; }

.line {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 3px solid #fff;
  z-index: -1; }
