.columns {
    display: flex;
    margin: 2rem auto;
    max-width: 600px;
    justify-content: space-around;

    &-1 {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }

    &-2 {
        color: $color-white;
        display: flex;
        flex-direction: column;
        line-height: 1.8;
    }
}

@media (max-width: 450px) {
    .columns {
        flex-direction: column;

        &-2 {
            text-align: center;

            & > p:first-child() {
                margin-top: 1rem;
            }
        }
    }
}
